{% extends 'user_panel/base.html' %}
{% load static %}

{% block title %}all orders{% endblock %}

{% block content %}
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'user:index' %}" rel="nofollow">Home</a>
                    <span></span> profile
                    <span></span> order list
                    
                </div>
            </div>
        </div>
        <section class="content-main">
            <center>
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order List </h2>
                    </div>
                </div>
            </center>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <li class="success-message">{{ message }}</li>
                    {% elif message.tags == 'error' %}
                        <li class="error-message">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            <div class="card mb-4">
                <header class="card-header">
                </header> 
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col">Payment Status</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col">Order Status</th>
                                    <th scope="col">
                                        <center>
                                            Action 
                                        </center>   
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in page_obj %}
                                <tr>
                                    
                                    <td>{{order.id}}</td>
                                    <td><b>{{order.order_date}}</b></td>
                                    <td>{{order.total_amount}}</td>
                                    <td><span class="badge rounded-pill alert-warning">{{order.payment_status}}</span></td>
                                    <td>{{order.payment_method}}</td>
                                    <td>{{order.order_status}}</td>
                                    <td>
                                        <center>
                                            {% if order.payment_status == 'Failed' %}
                                                <a href="{% url 'coutinue_payment' order.id %}" class="btn btn-md rounded font-sm">Continue Payment</a>
                                            {% else %}
                                                <a href="{% url 'order_details' order.id %}" class="btn btn-md rounded font-sm">Details</a>
                                                {% if order.order_status != 'Returned' %}
                                                    {% if order.order_status == 'Completed' %}
                                                        <a href="{% url 'return_order' order.id %}" class="btn btn-md rounded font-sm">Return</a>
                                                    {% else %}
                                                        <a href="{% url 'cancel_order' order.id %}" id="cancel-button" class="btn btn-md rounded font-sm">Cancel</a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </center>
                                    </td>
                                    
                                    
                                    
                                    
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> 
                </div> 
            </div> 
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endblock %}
    
    