{% extends 'user_panel/base.html' %}
{% load static %}

{% block title %}checkout{% endblock %}

{% block content %}
<style>
    .popup {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }
    
    .popup-content {
        background-color: #fefefe;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    .cod-not-allowed-message {
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
        margin-bottom: 10px;
    }    
</style>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'user:index' %}" rel="nofollow">Home</a>
                    <span></span> cart
                    <span></span> checkout
                </div>
            </div>
        </div>
        {% if insufficient_funds %}
            <div id="popup" class="popup">
                <div class="popup-content">
                    <span class="close" onclick="closePopup()">&times;</span>
                    <p>{{ messages }}</p>
                </div>
            </div>
        {% endif %}
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-25">
                            <h4>Billing Details</h4>
                        </div>
                        <form id="address_form" method="POST" >
                            {% csrf_token %}
                            {% for add1 in add1 %}
                            <input type="radio" id="1" name="selected_address_id" value="address1">
                            <label for="address1_{{ add1.id }}">
                            <div class="form-group">
                                <input type="text" required="" name="fname"  value ="{{add1.user.first_name}}" placeholder="First name *">
                            </div>
                            <div class="form-group">
                                <input type="text" name="billing_address"  value="{{add1.address}}" required="" placeholder="Address *">
                            </div>
                            <div class="form-group">
                                <input required="" type="text" name="locality" value="{{add1.locality}}" placeholder="City / Town *">
                            </div>
                            <div class="form-group">
                                <input required="" type="text" name="state"  value="{{add1.state}}"  placeholder="State">
                            </div>
                            <div class="form-group">
                                <input required="" type="text" name="district"  value="{{add1.district}}" placeholder="District">
                            </div>
                            <div class="form-group">
                                <input required="" type="number" name="pincode"  value="{{add1.pincode}}"  placeholder="Postcode">
                            </div>
                            <div class="form-group">
                                <input required="" type="text" name="phone" value="{{add1.user.phone}}"  placeholder="Phone *">
                            </div>
                            {%endfor%}
                            <div class="ship_detail">
                                <div class="form-group">
                                    <div class="chek-form">
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" type="checkbox" name="checkbox" id="differentaddress">
                                            <label class="form-check-label label_info" data-bs-toggle="collapse" data-target="#collapseAddress" href="#collapseAddress" aria-controls="collapseAddress" for="differentaddress"><span>Ship to a different address?</span></label>
                                        </div>
                                    </div>
                                </div>
                                <p class="message"><a href="{% url 'user:user_profile' %}">Change Address ......click Here......</a></p>
                                <div id="collapseAddress" class="different_address collapse in">
                                    {% for add2 in add2 %}
                                    <!-- Form 2 for shipping address -->
                                    <input type="radio" id="2" name="selected_address_id" value="address2">
                                    <label for="address2_{{ add2.id }}">
                                    <div class="form-group">
                                        <input type="text" required="" name="fname" value ="{{add2.user.first_name}}" placeholder="First name *">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="billing_address" value="{{add2.address}}" required="" placeholder="Address *">
                                    </div>
                                    <div class="form-group">
                                        <input required="" type="text" value="{{add2.locality}}" name="locality" placeholder="City / Town *">
                                    </div>
                                    <div class="form-group">
                                        <input required="" type="text" value="{{add2.state}}" name="state" placeholder="State">
                                    </div>
                                    <div class="form-group">
                                        <input required="" type="text" name="district" value="{{add2.district}}" placeholder="District">
                                    </div>
                                    <div class="form-group">
                                        <input required="" type="number" name="pincode" value="{{add2.pincode}}" placeholder="Postcode">
                                    </div>
                                    <div class="form-group">
                                        <input required="" type="text" name="phone" value="{{add2.user.phone}}" placeholder="Phone *">
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <tr>
                                            {% for cart_item in cart %}
                                                <td class="image product-thumbnail">
                                                    {% if cart_item.product_variant.thumbnail_image %}
                                                        <img src="{{ cart_item.product_variant.thumbnail_image.url }}" alt="Product Image">
                                                    {% else %}
                                                        {% for image in product_images %}
                                                            <img src="{{ image }}" alt="Product Image">
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                {% comment %} <td class="image product-thumbnail"><img src="{{ cart_item.product_variant.thumbnail_image.url }}"alt="#"></td> {% endcomment %}
                                                <td>
                                                    <h5><a href="shop-product-full.html">{{ cart_item.product_variant.product.product_name }}{{ cart_item.product_name }} </a></h5>
                                                    <span class="product-qty">x {{ cart_item.quantity }}</span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <th>SubTotal</th>
                                            <td class="product-subtotal" colspan="2"> ₹ {{ subtotal }}</td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td colspan="2"><em>₹ 100</em></td>
                                        </tr>
                                        <tr id="discountRow" style="display: none;">
                                            <th>Discount</th>
                                            <td colspan="2" class="product-subtotal">₹ <span id="discountAmount"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2" class="product-subtotal">
                                                <span id="totalAmount" class="font-xl text-brand fw-900">₹ {{ total }}</span>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                    
                                    
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="toggle_info">
                                        <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                                    </div>
                                    <div class="panel-collapse collapse coupon_form " id="coupon">
                                        <div class="panel-body">
                                            <p class="mb-30 font-sm">If you have a coupon code or, please apply it below.</p>
                                            <form method="post" id="couponForm">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <input type="text" id="couponInput" placeholder="Click here to enter coupon code..." required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Select Coupon</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post" id="applyCouponForm">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <select id="selectedCoupon" class="form-control">
                                                                <option value="">Select a coupon</option>
                                                                {% for coupon in active_coupons %}
                                                                    <option value="{{ coupon.id }}">{{ coupon.code }} - {{ coupon.discount }}% off</option>
                                                                {% endfor %}
                                                            </select>   
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="Submit" class="btn btn-md" id="applyCouponBtn">Apply Coupon</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Ensure jQuery is included -->

                                    <script>
                                        
                                        function closeCouponModal() {
                                            $('#couponModal').modal('hide');
                                        }
                                    
                                        
                                        $(document).ready(function() {
                                            $('#couponInput').click(function() {
                                                $('#couponModal').modal('show');
                                            });
                                        });
                                    
                                        $(document).ready(function() {
                                            $('#applyCouponBtn').click(function(event) {
                                                event.preventDefault();
                                    
                                                var selectedCouponId = $('#selectedCoupon').val();
                                                var totalAmount = parseFloat('{{ total }}'); 
                                    
                                                if (selectedCouponId) {
                                                    $.ajax({
                                                        url: '{% url "apply_coupon" %}',
                                                        method: 'POST',
                                                        headers: {
                                                            'X-Requested-With': 'XMLHttpRequest' 
                                                        },
                                                        data: {
                                                            csrfmiddlewaretoken: '{{ csrf_token }}',
                                                            coupon_id: selectedCouponId,
                                                            total_amount: totalAmount
                                                        },
                                                        success: function(response) {
                                                            var discountedTotal = response.discounted_total;
                                                            var discountAmount = totalAmount - parseFloat(discountedTotal);
                                                            $('#totalAmount').text('₹ ' + discountedTotal); 
                                                            $('#discountAmount').text(discountAmount.toFixed(2)); 
                                                            $('#discountRow').show(); 
                                                            $('#applyCouponBtn').hide(); 
                                                            closeCouponModal(); 
                                                        },
                                                        error: function(xhr, status, error) {
                                                            console.error(error);
                                                        }
                                                    });
                                                }
                                            });
                                        });
                                    </script>
                                    
                                    
                                </div>
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option">
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="cash_on_delivery" value="cash_on_delivery">
                                        <label class="form-check-label" for="cash_on_delivery">Cash On Delivery</label>
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="razorpay" value="razorpay">
                                        <label class="form-check-label" for="razorpay">Online Payment</label>
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="wallet" value="wallet">
                                        <label class="form-check-label" for="wallet">Wallet Payment</label>
                                    </div>
                                </div>
                                
                            </div>
                            <button type="button" class="btn btn-fill-out btn-block mt-30" id="place_order_button">Place Order</button><br><br>
                            {% if payment_details.payment_status != 'failed' %}
                            <form id="razorpay-form" action="{% url 'handle_razorpay_success' %}" method="POST">
                                {% csrf_token %}
                                <script src="https://checkout.razorpay.com/v1/checkout.js"
                                        data-key="{{ payment_details.key }}"
                                        data-amount="{{ payment_details.amount }}"
                                        data-currency="{{ payment_details.currency }}"
                                        data-order_id="{{ payment_details.id }}"
                                        data-buttontext="Pay with Razorpay"
                                        data-name="DigiHub"
                                        data-description="Purchase Description"
                                        data-image="https://example.com/your_logo.jpg"
                                        data-prefill.name="Munavar"
                                        data-prefill.email="{{ payment_details.email }}"
                                        data-theme.color="#F37254"
                                        data-handler="handleRazorpayClose">
                                </script>
                                <input type="hidden" name="email" value="{{ payment_details.email }}">
                                <input type="hidden" name="order_id" value="{{ order_id }}">
                            </form>
                            {% else %}
                                <p>Payment has failed. Please try again.</p>
                                <script>
                                    function redirectToCart() {
                                        window.location.href = "{% url 'shop_cart' %}";
                                    }
                                    redirectToCart();
                                </script>
                            {% endif %}
                        
                            
                            <!-- Your HTML template with Razorpay payment button -->
                            
                        </div>
                    </div>
                </div>
            </div>  
        </section>
        
    </main>
    <script>
        document.getElementById('place_order_button').addEventListener('click', function() {
            var selectedPaymentOption = document.querySelector('input[name="payment_option"]:checked').value;
            var totalAmount = parseFloat('{{ total }}'); 
            
            console.log('Total Amount:', totalAmount); // Debugging statement
            
            if (selectedPaymentOption === 'razorpay') {
                window.location.href = "{% url 'razorpay_payment' %}";
            } else if (selectedPaymentOption === 'cash_on_delivery') {
                console.log('Checking if totalAmount >= 9000:', totalAmount >= 9000); // Debugging statement
                
                if (totalAmount >= 9000) {
                    console.log('Total amount is above 9000. Cannot proceed with cash on delivery.'); // Debugging statement
                    var messageElement = document.createElement('div');
                    messageElement.classList.add('cod-not-allowed-message');
                    messageElement.innerText = 'Cash on Delivery is not available for orders under ₹9000.';
                    document.querySelector('.payment_method').insertAdjacentElement('beforebegin', messageElement);
                } else {
                    console.log('Total amount is below 9000. Proceeding with cash on delivery.'); // Debugging statement
                    document.querySelector('form').action = "{% url 'place_order' %}";
                    document.querySelector('form').submit();
                }
            } else {
                document.querySelector('form').action = "{% url 'wallat_payment' %}";
                document.querySelector('form').submit();
            }
        });
    </script>
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('place_order_button').addEventListener('click', function() {
                var selectedAddressId = document.querySelector('input[name="selected_address_id"]:checked');
                if (selectedAddressId) {
                    var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
                    var addressId = selectedAddressId.value;
                    
                    fetch('/save_order_address/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded', 
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': csrfToken
                        },
                        body: 'selected_address_id=' + encodeURIComponent(addressId) 
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error('Network response was not ok.');
                    })
                    .then(data => {
                        
                        console.log(data);
                    })
                    .catch(error => {
                        
                        console.error('There was an error!', error);
                    });
                }
            });
        });
    </script>
        
        
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>

    {% endblock %}