{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User SignUp</title>
	<link rel="stylesheet" href="{% static 'signup.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
</head>
<body>
	<div class="wrapper">
		<h2>Forgot Password</h2>
		<form id="form" method="POST">
			{% csrf_token %}
			<div class="input-box">
				<input type="text" placeholder="Your Email" id="old_password" name="email" required>
			</div>
			<div class="input-box">
				<input type="number" placeholder="Your Contacts" id="new_password" name="number" required>
			</div>
            <div class="input-box">
				<input type="password" placeholder="New Password" id="confirm_password" name="new_pass1" required>
			</div>
			<div class="input-box">
				<input type="password" placeholder="Confirm Password" id="confirm_password" name="new_pass2" required>
			</div>
			<div class="input-box button">
				<input type="submit" value="save Password">
			</div>
		</form>
		<div id="error-container">
		</div>
        <div class="alert alert-danger">
        {% for message in messages %}
             {{ message }}
        {% endfor %}
        </div>
	</div>
</body>

</html>