{% extends 'user_panel/base.html' %}
{% load static %}

{% block title %}home{% endblock %}

{% block content %}
    <div>
        <img src="{% static 'imgs\page\67500b5f-b206-41f4-b057-ac57f119c168.__CR0,0,1464,600_PT0_SX1464_V1___.jpg' %}" style="height: 600px;" width="100%">
    </div>
    <main class="main">
            <section class="mt-50 mb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="shop-product-fillter style-2">
                                <div class="totall-product">
                                    <p> We have <strong class="text-brand">{{count}}</strong> Mobile for you!</p>
                                </div>
                                <div class="sort-by-product-area">
                                    <div class="sort-by-cover">
                                        <div class="sort-by-product-wrap">
                                            <div class="sort-by">
                                                <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                            </div>
                                            <div class="sort-by-dropdown-wrap">
                                                <span> High to Low <i class="fi-rs-angle-small-down"></i></span>
                                            </div>
                                        </div>
                                        <div class="sort-by-dropdown">
                                            <select name="sort_by" id="sort">
                                                <option value="low_to_high">Price: Low to High</option>
                                                <option value="high_to_low">Price: High to Low</option>
                                                <option value="a_to_z">A-Z</option>
                                                <option value="z_to_a">Z-A</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="product-list" class="product-list mb-50" >
                                    {% for variant in variant %}
                                    {% for attribute_value in variant.attributes.all %}
                                <div class="product-cart-wrap">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="product_details/{{variant.id}}">
                                                <img class="default-img"  src="{{ variant.thumbnail_image.url}}" alt="">
                                                <img class="hover-img"  src="{{ variant.thumbnail_image1.url}}" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="{% url 'add_wishlist' variant.id %}"><i class="fi-rs-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="product_details/{{variant.id}}">{{variant.product.product.product_brand.name}}</a>
                                        </div>
                                        <h2><a href="product_details/{{variant.id}}">{{variant.product.product_name}}</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>4.5</span>
                                            </span>
                                        </div>

                                        <div class="product-price">
                                            <span> ₹ {{ variant.sale_price }}</span>
                                            <span class="old-price"> ₹ {{ variant.max_price }}</span><br>
                                            {% if variant.product.offer %}
                                                <span class="offer offer-discount"> &nbsp&nbsp&nbsp&nbsp&nbsp{{ variant.product.offer }}% off</span><br>
                                            {% endif %}
                                        </div>
                                        {% for offer in variant.product.productoffer_set.all %}
                                            {% if offer.is_active == True %}
                                                <div class="offer-info">
                                                    Offer: {{ offer.discount_percentage }}% off &nbsp&nbsp( To {{ offer.valid_to|date:"Y-m-d" }})
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <li class="mb-10"><i class="fi-rs-crown mr-5"></i> {{ attribute_value.attribute_ram }}</li>
                                        <li class="mb-10"><i class="fi-rs-crown mr-5"></i>Camera: {{ variant.product.camera }}</li>
                                        <li class="mb-10"><i class="fi-rs-crown mr-5"></i>Display: {{ variant.product.display }}</li>
                                        <li class="mb-10"><i class="fi-rs-crown mr-5"></i>Battery: {{variant.product.battery}}</li>
                                        <div id="popup-messages"></div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Now" class="action-btn" href="{% url 'add_cart' variant.id %}"><i class="fi-rs-shopping-bag-add"></i>Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                    {% endfor %}
                                    {% endfor %}
                            </div>
                            <div class="pagination-area mt-30 mb-50">
                                <nav aria-label="Page navigation example">
                                    <ul id="pagination" class="pagination justify-content-start">
                                        {% if variant.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page=1">&laquo;</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <span class="page-link">&laquo;</span>
                                            </li>
                                        {% endif %}
                            
                                        {% for num in variant.paginator.page_range %}
                                            {% if num == variant.number %}
                                                <li class="page-item active">
                                                    <span class="page-link">{{ num }}</span>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                            
                                        {% if variant.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ variant.paginator.num_pages }}">&raquo;</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <span class="page-link">&raquo;</span>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                            
                               
                            <!--pagination-->
                        </div>
                        <div class="col-lg-3 primary-sidebar sticky-sidebar">
                            <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                                <div class="widget-header position-relative mb-20 pb-10">
                                    <h5 class="widget-title mb-10">New products</h5>
                                    <div class="bt-1 border-color-1"></div>
                                </div>
                                {% for variant in new_variant %}
                                <div class="single-post clearfix">
                                    <a  href="product_details/{{variant.id}}">
                                        <div class="image">
                                            <img src="{{ variant.thumbnail_image.url}}" alt="#">
                                        </div>
                                    </a>
                                    <div class="content pt-10">
                                        <h5><a href="product_details/{{variant.id}}">{{variant.product.product_name}}</a></h5>
                                        <p class="price mb-0 mt-5"> ₹ {{variant.sale_price}}</p>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:90%"></div>
                                        </div>
                                    </div>
                                    
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div> 
            </section>
                  
        </main>
    
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#sort').change(function() {
                    var sortBy = $(this).val();
                    $.ajax({
                        type: 'GET',
                        url: "{% url 'user:sort_products' %}",
                        data: {
                            sort_by: sortBy
                        },
                        success: function(response) {
                            $('#product-list').html(response.html);
                        },
                        error: function(xhr, textStatus, errorThrown) {
                            console.error('Error:', errorThrown);
                        }
                    });
                });
            });
            
            
        </script>

<script>
            
        var modal = document.getElementById("messageModal");

        
        var span = document.getElementsByClassName("close")[0];

        
        function showMessage(message) {
        var messageContent = document.getElementById("messageContent");
        messageContent.innerHTML = message;
        modal.style.display = "block";
        }

        
        span.onclick = function() {
        modal.style.display = "none";
        }

        
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }

</script>

<script>
    
    window.onload = function () {
        if (window.history.replaceState) {
            if (window.location.href.indexOf('login') !== -1) {
                window.history.replaceState(null, null, '/');
            }
        }
    }
</script>

<script>
    $(document).ready(function() {
        $('#pagination').on('click', 'a.page-link', function(event) {
            event.preventDefault(); 

            var pageUrl = $(this).attr('href'); 
            loadProductList(pageUrl); 
        });
    });

    
    function loadProductList(pageUrl) {
        $.ajax({
            type: 'GET',
            url: pageUrl,
            success: function(response) {
                $('#product-list').html(response);
            },
            error: function(xhr, textStatus, errorThrown) {
                console.error('Error:', errorThrown);
            }
        });
    }
</script>

{% endblock %}