{% extends 'user_panel/base.html' %}
{% load static %}

{% block title %}product details{% endblock %}

{% block content %}
<div id="product-details-container">
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'user:index' %}" rel="nofollow">Home</a>
                    <span></span> product detail
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="product-detail accordion-detail" >
                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        
                                        <div class="product-image-slider">
                                            <figure class="border-radius-10">
                                                <img src="{{ variant.thumbnail_image.url}}" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="{{ variant.thumbnail_image1.url}}" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="{{ variant.thumbnail_image2.url}}" alt="product image">
                                            </figure>
                                        </div>
                                        
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            <div><img src="{{ variant.thumbnail_image.url}}" alt="product image"></div>
                                            <div><img src="{{ variant.thumbnail_image1.url}}" alt="product image"></div>
                                            <div><img src="{{ variant.thumbnail_image2.url}}" alt="product image"></div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail">{{variant.product.product_name}}</h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Brand: <a href="shop-grid-right.html">{{ variant.product.product_brand.name }}</a>
                                                    {% if variant.product.product_brand.offer %}
                                                        &nbsp;{{ variant.product.product_brand.offer }}% off
                                                    {% endif %}
                                                </span>
                                            </div>
                                            
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand" id="product-price" > ₹ {{variant.sale_price}}</span></ins>
                                                <ins><span class="old-price font-md ml-15"> ₹ {{variant.max_price}}</span></ins>
                                                {% if variant.product.offer %}
                                                <span class="offer offer-discount"> &nbsp&nbsp&nbsp&nbsp&nbsp{{ variant.product.offer }}% off</span><br>
                                                {% endif %}  
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5" id="product-rom"></i> RAM: {{ variant.rom }}</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> DISPLAY: {{ variant.product.display }}</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> CAMERA: {{ variant.product.camera }}</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> BATTERY: {{ variant.product.battery }}</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> PROCESSOR: {{ variant.product.processor }}</li>
                                                <li style="color: {% if variant.stock <= 1 %}red{% endif %}"><i class="fi-rs-credit-card mr-5"></i> STOCK: {{ variant.stock }}</li>
                                            </ul>
                                        </div>
                                        
                                        <div class="attr-detail attr-rom mb-15">
                                            <strong class="mr-10">Variants</strong>
                                            {% for variant in all_variant %}
                                            <div class="rom-options">
                                                {% for attribute in variant.attributes.all %}
                                                <div class="rom-option">
                                                    <a href="#" class="variant-link" data-variant="{{ variant.id }}">
                                                        {{ attribute.attribute_color }}: {{ attribute.attribute_ram }}
                                                    </a>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            {% endfor %}
                                        </div>

                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            <div class="product-extra-link2">
                                                <button type="button" onclick="window.location.href='{% url 'add_cart' variant.id %}'" onclick="addToCart()" class="button button-add-to-cart">Add Cart</button>

                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="{% url 'add_wishlist' variant.id %}"><i class="fi-rs-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="tab-style3">
                                <ul class="nav nav-tabs text-uppercase">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab" href="#Additional-info">Specification</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews">Reviews</a>
                                    </li>
                                </ul>
                                <div class="tab-content shop_info_tab entry-main-content">
                                    <div class="tab-pane fade show active" id="Description">
                                        <div class="">
                                            <p>Uninhibited carnally hired played in whimpered dear gorilla koala depending and much yikes off far quetzal goodness and from for grimaced goodness unaccountably and meadowlark near unblushingly crucial scallop
                                                tightly neurotic hungrily some and dear furiously this apart.</p>
                                            <p>Spluttered narrowly yikes left moth in yikes bowed this that grizzly much hello on spoon-fed that alas rethought much decently richly and wow against the frequent fluidly at formidable acceptably flapped
                                                besides and much circa far over the bucolically hey precarious goldfinch mastodon goodness gnashed a jellyfish and one however because.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Additional-info">
                                        <table class="font-md">
                                            <tbody>
                                                <tr class="stand-up">
                                                    <th>In The Box</th>
                                                    <td>
                                                        <p>Handsent,USB Charge Cable(1m), Documentation</p>
                                                    </td>
                                                </tr>
                                                <tr class="folded-wo-wheels">
                                                    <th>Model Number</th>
                                                    <td>
                                                        <p>MTP03HN/A</p>
                                                    </td>
                                                </tr>
                                                <tr class="folded-w-wheels">
                                                    <th>Model Name</th>
                                                    <td>
                                                        <p>iphone 15</p>
                                                    </td>
                                                </tr>
                                                <tr class="door-pass-through">
                                                    <th>Color</th>
                                                    <td>
                                                        <p>Black</p>
                                                    </td>
                                                </tr>
                                                <tr class="frame">
                                                    <th>browse Type</th>
                                                    <td>
                                                        <p>Smartphone</p>
                                                    </td>
                                                </tr>
                                                <tr class="weight-wo-wheels">
                                                    <th>SIM Type</th>
                                                    <td>
                                                        <p>Dual Sim</p>
                                                    </td>
                                                </tr>
                                                <tr class="weight-capacity">
                                                    <th>hybrid Sim Slot</th>
                                                    <td>
                                                        <p>No</p>
                                                    </td>
                                                </tr>
                                                <tr class="width">
                                                    <th>Width</th>
                                                    <td>
                                                        <p>24″</p>
                                                    </td>
                                                </tr>
                                                <tr class="handle-height-ground-to-handle">
                                                    <th>Handle height (ground to handle)</th>
                                                    <td>
                                                        <p>37-45″</p>
                                                    </td>
                                                </tr>
                                                <tr class="wheels">
                                                    <th>Wheels</th>
                                                    <td>
                                                        <p>12″ air / wide track slick tread</p>
                                                    </td>
                                                </tr>
                                                <tr class="seat-back-height">
                                                    <th>Seat back height</th>
                                                    <td>
                                                        <p>21.5″</p>
                                                    </td>
                                                </tr>
                                                <tr class="head-room-inside-canopy">
                                                    <th>Head room (inside canopy)</th>
                                                    <td>
                                                        <p>25″</p>
                                                    </td>
                                                </tr>
                                                <tr class="pa_color">
                                                    <th>Color</th>
                                                    <td>
                                                        <p>Black, Blue, Red, White</p>
                                                    </td>
                                                </tr>
                                                <tr class="pa_size">
                                                    <th>Size</th>
                                                    <td>
                                                        <p>M, S</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                  <div class="tab-pane fade" id="Reviews">
                                        <!--Comments-->
                                        <div class="comments-area">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <h4 class="mb-30">Customer questions & answers</h4>
                                                    <div class="comment-list">
                                                        <div class="single-comment justify-content-between d-flex">
                                                            <div class="user justify-content-between d-flex">
                                                                <div class="thumb text-center">
                                                                    <img src="assets/imgs/page/avatar-6.jpg" alt="">
                                                                    <h6><a href="#">Jacky Chan</a></h6>
                                                                    <p class="font-xxs">Since 2012</p>
                                                                </div>
                                                                <div class="desc">
                                                                    <div class="product-rate d-inline-block">
                                                                        <div class="product-rating" style="width:90%">
                                                                        </div>
                                                                    </div>
                                                                    <p>Thank you very fast shipping from Poland only 3days.</p>
                                                                    <div class="d-flex justify-content-between">
                                                                        <div class="d-flex align-items-center">
                                                                            <p class="font-xs mr-30">December 4, 2020 at 3:12 pm </p>
                                                                            <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <h4 class="mb-30">Customer reviews</h4>
                                                    <div class="d-flex mb-30">
                                                        <div class="product-rate d-inline-block mr-15">
                                                            <div class="product-rating" style="width:90%">
                                                            </div>
                                                        </div>
                                                        <h6>4.8 out of 5</h6>
                                                    </div>
                                                    <div class="progress">
                                                        <span>5 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                    </div>
                                                    <div class="progress">
                                                        <span>4 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                                    </div>
                                                    <div class="progress">
                                                        <span>3 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                                                    </div>
                                                    <div class="progress">
                                                        <span>2 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                                    </div>
                                                    <div class="progress mb-30">
                                                        <span>1 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                    </div>
                                                    <a href="#" class="font-xs text-muted">How are ratings calculated?</a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                               
                        </div>
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Brands</h5>
                            <ul class="categories">
                                {% for brand in brands %}
                                    {% if brand.offer %}
                                        <li><a href="#">{{ brand.name }}, {{ brand.offer }}% off</a></li>
                                    {% else %}
                                        <li><a href="#">{{ brand.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.variant-link').click(function(e) {
                e.preventDefault();
                var variantId = $(this).data('variant');
                console.log('Variant ID:', variantId);
                
                $.ajax({
                    type: 'GET',
                    url: '{% url "user:get_product_details" %}',
                    data: {
                        'variant_id': variantId
                    },
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest' 
                    },
                    success: function(response) {
                        console.log('AJAX Success:', response); 
                        
                        $('#product-details-container').html(response.product_details_html);
                    },
                    error: function(xhr, status, error) {
                        console.error('AJAX Error:', error); 
                        
                    }
                });
            });
        });
    </script>
    
    
    {% endblock %}