{% extends 'user_panel/base.html' %}
{% load static %}

{% block title %}your profile{% endblock %}

{% block content %}
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'user:index' %}" rel="nofollow">Home</a>
                <span></span> profile
                
            </div>
        </div>
    </div>
    <section class="content-main"><br>
            <div class="content-header" style="text-align: center;">
                <h2 class="content-title" style="color: #333; font-size: 24px; font-weight: bold; margin-bottom: 20px;">Profile Settings</h2>
            </div>
            {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <div class="row gx-5">
                        <aside class="col-lg-3 border-end">
                            <nav class="nav nav-pills flex-lg-column mb-4">
                                <a class="nav-link active" aria-current="page" href="#">Our Details</a>
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Address Management
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="{% url 'user:add_address1' %}">Address One</a></li>
                                        <li><a class="dropdown-item" href="{% url 'user:add_address2' %}">Address Two</a></li>
                                    </ul>
                                </div>
                                <a class="nav-link" href="{% url 'all_orders' %}">Show Orders</a>
                                <a class="nav-link" href="{% url 'wallet' %}">Wallet</a>
                                <a class="nav-link" href="{% url 'user:change_pass' %}">Change Password</a>
                                <a class="nav-link" href="{% url 'user:logout' %}">Logout</a>
                            </nav>
                        </aside>
                        <div class="col-lg-9">
                            <section class="content-body p-xl-4">
                                <form id="form" method="POST">
                                    {%csrf_token%}
                                    <div class="row">
                                        <div class="col-lg-8">

                                            <div class="row gx-3">
                                                <div class="col-6  mb-3">
                                                    <label class="form-label">First name</label>
                                                    <input class="form-control" type="text" value="{{user.first_name}}" name="fname" placeholder="Type here">
                                                </div> 
                                                <div class="col-6  mb-3">
                                                    <label class="form-label">Last name</label>
                                                    <input class="form-control" type="text" value="{{user.last_name}}" name="lname" placeholder="Type here">
                                                </div> 
                                                <div class="col-lg-6  mb-3">
                                                    <label class="form-label">Email</label>
                                                    <input class="form-control" type="email" value="{{user.email}}" name="email" placeholder="example@mail.com">
                                                </div> 
                                                <div class="col-lg-6  mb-3">
                                                    <label class="form-label">Phone</label>
                                                    <input class="form-control" type="tel" value="{{user.phone}}" name="mobile" placeholder="+1234567890">
                                                </div>
                                            </div> 
                                        </div> 
                                        
                                    </div> 
                                    <br>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </form>
                                <hr class="my-5">
                               
                            </section> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </section>
        {% endblock %}