<!-- wallet.html -->
{% extends 'user_panel/base.html' %}
{% load static %}

{% block title %}Your Wallet{% endblock %}

{% block content %}
    <body style="font-family: Arial, sans-serif; background-color: #f9f9f9; margin: 0; padding: 0;">
        <div style="max-width: 600px; margin: 20px auto; padding: 20px; background-color: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <h1 style="font-size: 24px; color: #333; margin-bottom: 20px; text-align: center;">Your Wallet</h1>
            <div style="text-align: center; margin-bottom: 30px;">
                <p style="font-size: 30px; color: #007bff; margin-bottom: 10px; font-weight: bold;">Your current balance: ₹{{ wallet.balance }}</p>
                <br><br><br>  
                <form action="{% url 'add_cash' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="text" name="amount" placeholder="Enter amount to add" required style="padding: 5px; margin-right: 10px;" oninput="formatCurrency(this)"><br><br>

                    <button type="submit" class="btn btn-success">Add Cash</button>
                </form>
            </div>
        </div>
        <h4>Wallet History</h4> 
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Transaction Type</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in page_obj %}
                            <tr>
                                <td>{{ transaction.date_created }}</td>
                                <td>{{ transaction.transaction_type }}</td>
                                <td>{{ transaction.amount }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> <!-- table-responsive.// -->
                </div>
            </div> <!-- card-body end// -->
        </div>
        <!-- Pagination links -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </body>
    <script>
        function formatCurrency(input) {
            // Remove existing commas and periods
            let value = input.value.replace(/[,.]/g, '');
    
            // Format the number with commas for thousands separator
            value = Number(value).toLocaleString('en-IN');
    
            // Update the input value
            input.value = value;
        }
    </script>
{% endblock %}
