{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}index{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">DigiHub</h2>

                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span>₹{{total_earnings}}</span>
                                
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span>{{total_order}}</span>
                                
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span>{{total_product_variant}}</span>
                                
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Completed Orders</h6> <span>{{total_completed}}</span>
                                
                            </div>
                        </article>
                    </div>
                </div>
                
                
            </div>
            
            <!-- Chart container -->
            <div>
                <h3>Sales Comparison</h3><br>

                <div style="display: inline-block; width: 450px; margin-right: 20px;">
                    <select id="chart-type" style="width: 100px;">
                        <option value="monthly">Monthly</option>
                        <option value="yearly">Yearly</option>
                    </select>
                    <canvas id="sales-chart" width="100" height="100"></canvas>
                </div>
                
                <div style="display: inline-block; width: 450px;">
                    <h4>Sales Status</h4>
                    <div class="chart-container">
                        <canvas id="order-status-chart"></canvas>
                    </div>
                </div>
            </div>
            
    
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const ctx = document.getElementById('sales-chart').getContext('2d');
                    let salesChart = null;
        
                    function fetchData(chartType) {
                        const url = chartType === 'monthly' ? '{% url "get_monthly_sales" %}' : '{% url "get_yearly_sales" %}';
                        fetch(url)
                            .then(response => response.json())
                            .then(data => {
                                const labels = chartType === 'monthly' ? ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug'] : ['202','2023','2024','2025','2026','2027']; // Adjust labels accordingly
                                const salesData = chartType === 'monthly' ? data.monthly_sales : data.yearly_sales;
        
                                if (salesChart) {
                                    salesChart.destroy();
                                }
        
                                salesChart = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: labels,
                                        datasets: [{
                                            label: 'Sales',
                                            data: salesData,
                                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                            borderColor: 'rgba(75, 192, 192, 1)',
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });
                            })
                            .catch(error => console.error('Error fetching data:', error));
                    }
        
                    document.getElementById('chart-type').addEventListener('change', function(event) {
                        const chartType = event.target.value;
                        fetchData(chartType);
                    });
        
                    fetchData('monthly'); // Fetch monthly sales data by default
                });
            </script>

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const total_completed = {{ total_completed }};
                    const total_cancelled = {{ total_cancelled }};
                    const total_pending = {{ total_Pending }};
                    const total_shipped = {{ total_Shipped }};
        
                    const orderStatusCtx = document.getElementById('order-status-chart').getContext('2d');
                    const orderStatusChart = new Chart(orderStatusCtx, {
                        type: 'pie',
                        data: {
                            labels: ['Completed', 'Cancelled', 'Pending', 'Shipped'],
                            datasets: [{
                                label: 'Order Status',
                                data: [total_completed, total_cancelled, total_pending, total_shipped],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.6)',
                                    'rgba(54, 162, 235, 0.6)',
                                    'rgba(255, 206, 86, 0.6)',
                                    'rgba(75, 192, 192, 0.6)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            tooltips: {
                                callbacks: {
                                    label: function(tooltipItem, data) {
                                        const label = data.labels[tooltipItem.index] || '';
                                        const value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                                        return label + ': ' + value;
                                    }
                                }
                            }
                        }
                    });
                });
            </script>

            <br><br><br>
            <div>
                <center>
                <h4>Sales Report</h4></center>
                <p>PDF Report</p>
                <a href="{% url 'sales-report' %}?report_type=daily&format=pdf" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Daily PDF report</a>&nbsp
                <a href="{% url 'sales-report' %}?report_type=weekly&format=pdf" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Weekly PDF report</a>&nbsp
                <a href="{% url 'sales-report' %}?report_type=yearly&format=pdf" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Yearly PDF report</a><br><br>
                <p>Excel Report</p>
                <a href="{% url 'sales-report' %}?report_type=weekly&format=excel" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Weekly Excel report</a>&nbsp
                <a href="{% url 'sales-report' %}?report_type=daily&format=excel" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Daily Excel report</a>&nbsp
                <a href="{% url 'sales-report' %}?report_type=yearly&format=excel" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Yearly Excel report</a><br><br>
                <p>Custom sales Report</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customReportModal">
                    Custom report
                </button>
                <div class="modal fade" id="customReportModal" tabindex="-1" role="dialog" aria-labelledby="customReportModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="customReportModalLabel">Custom Date Range</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{% url 'sales-report' %}" method="GET">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="start_date">Start Date:</label>
                                        <input type="date" class="form-control" id="start_date" name="start_date">
                                    </div>
                                    <div class="form-group">
                                        <label for="end_date">End Date:</label>
                                        <input type="date" class="form-control" id="end_date" name="end_date">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Generate PDF Report</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    {% endblock %}