{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}index{% endblock %}

{% block content %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">DigiHub</h2>

                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span>{{total_earnings}}</span>
                                
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span>{{total_order}}</span>
                                
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span>{{total_product_variant}}</span>
                                
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Monthly Earning</h6> <span>{{monthly_earnings}}</span>
                                
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Sale statistics</h5>
                            <canvas id="myChart" height="120px"></canvas>
                        </article>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Revenue Base on Area</h5>
                            <canvas id="myChart2" height="217"></canvas>
                        </article>
                    </div>
                    
                </div>
            </div>
            <div>
                <center>
                <h4>Sales Report</h4></center>
                <p>PDF Report</p>
                <a href="{% url 'sales-report' %}?report_type=daily&format=pdf" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Daily PDF report</a>&nbsp
                <a href="{% url 'sales-report' %}?report_type=weekly&format=pdf" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Weekly PDF report</a>&nbsp
                <a href="{% url 'sales-report' %}?report_type=monthly&format=pdf" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Yearly PDF report</a><br><br>
                <p>Excel Report</p>
                <a href="{% url 'sales-report' %}?report_type=weekly&format=excel" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Weekly Excel report</a>&nbsp
                <a href="{% url 'sales-report' %}?report_type=daily&format=excel" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Daily Excel report</a>&nbsp
                <a href="{% url 'sales-report' %}?report_type=monthly&format=excel" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Yearly Excel report</a><br><br>
                <p>Custom sales Report</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customReportModal">
                    Custom report
                </button>
                <div class="modal fade" id="customReportModal" tabindex="-1" role="dialog" aria-labelledby="customReportModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="customReportModalLabel">Custom Date Range</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{% url 'sales-report' %}" method="GET">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="start_date">Start Date:</label>
                                        <input type="date" class="form-control" id="start_date" name="start_date">
                                    </div>
                                    <div class="form-group">
                                        <label for="end_date">End Date:</label>
                                        <input type="date" class="form-control" id="end_date" name="end_date">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Generate PDF Report</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    {% endblock %}