{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}attribute_value{% endblock %}

{% block content %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Attributes </h2>
                    <p>Add, edit or delete a Attributes</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
            {% endif %}


            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form  id="form" method="POST">
                                {%csrf_token%}
                                <div class="mb-3">
                                    <label for="product">Colors</label>
                                    <select class="form-control" id="product" name="color">
                                        <option value="">Select an option</option>
                                        <option>White</option>
                                        <option>Yellow</option>
                                        <option>Red</option>
                                        <option>Black</option>
                                        <option>Green</option>
                                        <option>Blue</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="product">Ram</label>
                                    <select class="form-control" id="product" name="ram">
                                        <option value="">Select an option</option>
                                        <option>3GB</option>
                                        <option>4GB</option>
                                        <option>6GB</option>
                                        <option>8GB</option>
                                        <option>10</option>
                                        <option>12GB</option>
                                    </select>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary">Create Attributes</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </th>
                                            <th scope="col">#</th>
                                            <th scope="col">color</th>
                                            <th scope="col">GB</th>
                                            <th scope="col">Active Status</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for obj in attribute %}
                                            <td class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </td>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <td><b>{{obj.attribute_color}}</b></td>
                                            <td><b>{{obj.attribute_ram}}</b></td>
                                            <td>{{obj.is_active}}</td>
                                            <td><a type="button" href="attribute_edit/{{obj.id}}" class="btn btn-outline-success">Edit</a></td>
                                            <td class="text-end">
                                                <a href="attribute_delete/{{obj.id}}" class="btn btn-sm btn-brand rounded font-sm mt-15">Delete</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                    </div>
                </div> 
            </div> 
        </section> 
        {% endblock %}