{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}brand{% endblock %}

{% block content %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Brands</h2>
                    <p>Add, edit or delete a Brands</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>

            {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
            {% endif %}


            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}

            <div class="card">
                <div class="card-body">
                    <div class="row"> 
                        <div class="col-md-3">
                            <form  id="form" method="POST">
                                {%csrf_token%}
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Brands Name</label>
                                    <input type="text" placeholder="Type here"  name="name"  class="form-control" id="product_name" />
                                </div>
                                <div class="mb-3">
                                    <label for="product">Category</label>
                                    <select class="form-control" id="product" name="category" required>
                                        <option value="">Select an option</option>
                                        {% for cat in category %}
                                            <option value="{{ cat.id }}">{{ cat.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="offer_percentage" class="form-label">Offer Percentage</label>
                                    <input type="number" placeholder="Enter offer percentage" name="offer_percentage" class="form-control" id="offer_percentage" />
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary">Create Brands</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </th>
                                            <th scope="col">#</th>
                                            <th scope="col">Brands Name</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Active Status</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for obj in brd %}
                                            <td class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </td>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <td><b>{{obj.name}}</b></td>
                                            <td><b>{{obj.category.name}}</b></td>
                                            <td>{{obj.is_active}}</td>
                                            <td><a type="button" href="brand_edit/{{obj.id}}" class="btn btn-outline-success">Edit</a></td>
                                            <td class="text-end">
                                                <a href="brand_delete/{{obj.id}}" class="btn btn-sm btn-brand rounded font-sm mt-15">Delete</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                    </div> 
                </div> 
            </div> 
        </section> 
        {% endblock %}