{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}Coupen List{% endblock %}

{% block content %}
<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Coupon list</h2>
        <div>
            <a href="{% url 'create_coupon' %}" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
        </div>
    </div>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Coupon Code</th>
                            <th>Discount</th>
                            <th>Valid To:</th>
                            <th>Usage Count</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for coupon in coupons %}
                        <tr>
                            <td>{{ coupon.code }}</td>
                            <td>{{ coupon.discount }}% </td>
                            <td>{{ coupon.valid_to }}</td>
                            <td>{{ coupon.usage_count }}/{{ coupon.max_usage }}</td>
                            <td>
                                <a href="{% url 'change_active' coupon.id %}">
                                    {% if coupon.active %}
                                        Active
                                    {% else %}
                                        Inactive
                                    {% endif %}
                                </a>
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> <!-- table-responsive.// -->
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
</section> <!-- content-main end// -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}

