<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Report</title>
</head>
<body>
    <h1>Sales Report</h1>

    {% if daily_orders_count is not None %}
        <h2>Daily Report</h2>
        <p>Number of Daily Orders: {{ daily_orders_count }}</p>
        <p>Daily Revenue: ${{ daily_revenue }}</p>
        <p>Number of Daily Cancelled Orders: {{ daily_cancelled_orders }}</p>
    {% endif %}

    {% if weekly_orders_count is not None %}
        <h2>Weekly Report</h2>
        <p>Number of Weekly Orders: {{ weekly_orders_count }}</p>
        <p>Weekly Revenue: ${{ weekly_revenue }}</p>
        <p>Number of Weekly Cancelled Orders: {{ weekly_cancelled_orders }}</p>
    {% endif %}

    {% if monthly_orders_count is not None %}
        <h2>Monthly Report</h2>
        <p>Number of Monthly Orders: {{ monthly_orders_count }}</p>
        <p>Monthly Revenue: ${{ monthly_revenue }}</p>
        <p>Number of Monthly Cancelled Orders: {{ monthly_cancelled_orders }}</p>
    {% endif %}

    {% if yearly_orders_count is not None %}
        <h2>Yearly Report</h2>
        <p>Number of Yearly Orders: {{ yearly_orders_count }}</p>
        <p>Yearly Revenue: ${{ yearly_revenue }}</p>
        <p>Number of Yearly Cancelled Orders: {{ yearly_cancelled_orders }}</p>
    {% endif %}

    {% if custom_orders_count is not None %}
        <h2>Custom Report</h2>
        <p>Number of Custom Orders: {{ custom_orders_count }}</p>
        <p>Custom Revenue: ${{ custom_revenue }}</p>
        <p>Number of Custom Cancelled Orders: {{ custom_cancelled_orders }}</p>
    {% endif %}
</body>
</html>
