{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}variant edit{% endblock %}

{% block content %}
        <section class="content-main">
            <div class="row">
                <form  id="form" method="POST"  enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Edit Variant</h2>
                            <!-- <div>
                                <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                                <button class="btn btn-md rounded font-sm hover-up">Publich</button>
                            </div> -->
                        </div>
                    </div>
                    {% if error_message %}
                    <div class="alert alert-danger">{{ error_message }}</div>
                    {% endif %}


                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Basic</h4>
                            </div>
                            <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">max price</label>
                                                <div class="row gx-2">
                                                    <input placeholder="$" type="text" value="{{obj.max_price}}" name="max_price" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Sale price</label>
                                                <input placeholder="$" type="text"   value="{{obj.sale_price}}" name="sale_price" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Stock</label>
                                        <input type="text" placeholder="how many"  value="{{obj.stock}}" name="stock" class="form-control" id="product_name">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Active status</label>
                                        <select name="active" class="form-select" id="active_status">
                                            <option value="True" {% if obj.is_active %} selected {% endif %}>True</option>
                                            <option value="False" {% if not obj.is_active %} selected {% endif %}>False</option>
                                        </select>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-upload">
                                            <img src="{{ obj.thumbnail_image.url }}" alt="">
                                            <!-- Display current image URL -->
<!--                                            <input class="form-control mb-2" value="{{ obj.thumbnail_image.url }}" type="text" readonly>-->
                                            <!-- File input for uploading a new image -->
                                            <input class="form-control" name="image" type="file">
                                        </div>
                                        <div class="input-upload"><br>
                                            <img src="{{ obj.thumbnail_image1.url }}" alt="">
                                            <!-- Display current image URL -->
<!--                                            <input class="form-control mb-2" value="{{ obj.thumbnail_image.url }}" type="text" readonly>-->
                                            <!-- File input for uploading a new image -->
                                            <input class="form-control" name="image1" type="file">
                                        </div>
                                        <div class="input-upload"><br>
                                            <img src="{{ obj.thumbnail_image2.url }}" alt="">
                                            <!-- Display current image URL -->
<!--                                            <input class="form-control mb-2" value="{{ obj.thumbnail_image.url }}" type="text" readonly>-->
                                            <!-- File input for uploading a new image -->
                                            <input class="form-control" name="image2" type="file">
                                        </div>
                                    </div>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-primary">Change Product</button>
                                    </div>
                            </div>
                        </div> <!-- card end// -->
                    </div>
                </form>
            </div>
        </section> <!-- content-main end// -->
        {% endblock %}